body {
    font-family: Roboto;
    margin: 0;
    padding: 20px;
    color: rgb(100, 100, 100);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    font-family: Roboto;
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    color: rgb(100, 100, 100);
    font-weight: normal;
}

.project {
    margin-bottom: 40px;
}

.project-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.project-description {
    font-size: 16px;
    margin-bottom: 10px;
}

.project-link {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
}

.project-link:hover {
    text-decoration: underline;
}

.circular-image {
    display: block;
    margin: 0 auto;
    width: 300px;
    /* Adjust the width and height as needed */
    height: 300px;
    /* Make sure width and height are the same for a perfect circle */
    border-radius: 50%;
    object-fit: cover;
}

#banner {

    width: 100%;
    height: 360px;
    object-fit: cover;
}

#container {
    max-width: 720px;
    margin: 0 auto 0 auto;
}

.contact {
    text-align: center;
}