<!DOCTYPE html>
<html>

<head>
    <title>About me</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        #banner {
            width: 100%;
            height: 360px;
            object-fit: cover;
        }

        .circular-image {
            display: block;
            margin: 0 auto;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center mt-2 mb-4">Luciano Filho</h1>
        <img class="img-fluid" id="banner" src="{{ url_for('static', filename='banner.jpg') }}"
            alt="Responsive image" />
        <h2 class="text-center mt-2 mb-4">{{company_name}} Carrers</h2>
        <p class="lead">
            I'm an Analytics Engineer specializing in developing data-driven solutions to increase online sales and
            provide
            actionable insights. My primary tools are Python and SQL, which I use to process and analyze large datasets
            efficiently.
        </p>
        <div>
            {% for job in jobs%}
            {% include 'jobitem.html' %}
            {% endfor %}
        </div>
        <div class="text-center">
            <button class="btn btn-primary btn-lg">
                Contact Us
            </button>
            <p class="contact">© 2023, Luciano</p>
        </div>
    </div>
</body>

</html>