<div class="job-container">
    <div class="row">
        <div class="col-md-8">
            <h4 class="job-title">{{ job['title'] }}</h4>
            <div class="job-description"><b>Description:</b> {{ job['description'] }}</div>
            <div class="job-location"><b>Location:</b> {{ job['location'] }}</div>
            {% if 'salary' in job %}
            <div class="job-salary"><b>Salary:</b> {{ job['salary'] }}</div>
            {% endif %}
        </div>
        <div class="col-md-4 text-md-end">
            <button type="button" class="btn btn-outline-primary apply-button">Apply</button>
        </div>
    </div>
</div>